<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Yemba NER: Thank you for signing up!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"></head>
<body class="container p-5 d-flex justify-content-center">
<section >
<h1 class="text-primary  text-center display-2">Yemba NER</h1>
<h3 class=" h3 text-info text-center">Thank you for signing up!</h3>
<p class="text-center">
Verify your email address by clicking on this button:<br>
<a class="bg-primary shadow-sm  m-3" href="http://127.0.0.1:8000/user/signup/verify/?code={{ code }}"><button class="btn btn-sm btn-primary">Verify</button></a>
</p>
</section>
</body>
</html>
